/*
Bismillahir Rahmanir Rahim
Nafis Chowdhury
ecommerce website
style.css
02/24/2020
*/




.container{
    margin-bottom: 80px;
}

.navbar{
    border-bottom: 1px solid #eee;
}

.buy-now-button{
    color: white;
    border: none;
    background-color: black;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: 500;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: #cecece;
}

.carousel-indicators li.active {
    width: 45px;
    height: 10px;
    background-image: linear-gradient(142deg, #ff9c35 0%, #ffd019 100%)
}

.carousel-control-prev, .carousel-control-next {
    display: none;
}

.carousel-item{
    padding: 10px 40px;
}

.carousel-bg{
    background-image: url("images/dotted-bg.PNG");
    background-repeat: no-repeat;
    background-position: 0px 200px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}

.see-more{
    color: #ffce1a;
    cursor: pointer;
}

.category-title hr{
    content: none;
    background-image: linear-gradient(45deg, #FF9C35, #FFD019);
    height: 10px;
    width: 10%;
    border-radius: 10px;
    bottom: 0;
    left: calc(50% - 10%);
}

.container.category-area img{
    width: 120%;
}

.category-bag, .category-perfume, .category-shoe{
    padding: 30px 30px;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}